<div id="text">
  <h1 id="title">Outreach</h1>

  <p>
    SPEAR is pleased to offer an educational outreach program, featuring information about our rover, equipment and materials used in its operation, and a variety of projects and demos! Students from K-9 will learn about the engineering design process, as
    well as the many problems and components that have to be solved and implemented to make the rover work!
  </p>

  <p>
    While we are currently only working with other UAlberta organizations in this capacity, we are working on expanding our program to a wider audience, including schools and similar groups. Stay tuned for more information on this page, or contact us directly!
  </p>
</div>
