<mat-paginator [length]="pageLength" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" (page)="pageEvent = updatePages($event)">
</mat-paginator>

<mat-list>
  <mat-list-item *ngFor="let post of subSetPosts">
    <mat-card class="blogPost">
      <mat-card-header>
        <mat-card-title>{{post.title}}</mat-card-title>
        <mat-card-subtitle>{{post.author}} || {{post.timestamp}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p mat-line> {{post.post}} </p>
      </mat-card-content>
    </mat-card>
  </mat-list-item>
</mat-list>
<mat-paginator [length]="pageLength" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" (page)="pageEvent = updatePages($event)">
</mat-paginator>
