<h1 id="title">University <br> Rover <br> Challenge</h1>
<div id="text">
  <img src="../../assets/mr/seg1.jpg">
  <h3>The Challenge:</h3>
  <p>
    Design and build the next generation of Mars rovers that will one day work alongside human explorers in the field. 36 teams from 7 countries are tested in a series of judged tasks at the Mars Desert Research Station in Hanskville, Utah. The rovers are
    driven remotely, out of site, and at times autonomously.
  </p>


  <img src="../../assets/mr/seg2.jpg">
  <h3>Task 1: Extreme Retrieval and Delivery</h3>
  <p>
    Teams are given the location of an object in the desert and must retrieve and deliver the object to an astronaut in the field using their rover. The objects can vary in size, shape, and weight. The terrain can have drops larger than 1 m, slopes steeper
    than 45 deg, and sand or rocks.</p>

  <img src="../../assets/mr/seg3.jpg">
  <h3>Task 2: Science Cache</h3>
  <p>Teams must select sample sites of potential biological interest within the competition field. The rover must drive to the site and collect a soil sample below the surface of the chosen site. A series of high resolution panoramic, up-close, and stratigraphic
    pictures must be taken with on board hardware.
  </p>

 <img src="../../assets/mr/seg4.jpg">
  <h3>Task 3: Equipment Servicing</h3>
  <p>As the name suggests the rover must service equipment in the field. The competition gives us a very inclusive list of potential tasks that our rover must be able to do. Previous competitions have had: fuelling a generator, operating a computer, installing
    a large computer board, using a variety of tools, and many more.
  </p>

 <img src="../../assets/mr/seg5.jpg">
  <h3>Task 4: Autonomous Traversal</h3>
  <p>Easily the most difficult for our software. The rover must be able to use GPS coordinates or waypoints and navigate itself through the desert to a tennis ball mounted on a stick. Then the rover must indicate that it has reached the ball and move on
    to the next waypoint, being able to avoid any obstacle the desert may put in its way.
  </p>
  <p>Each task is scored up to a maximum of 100 points and the critical design review we submit is also scored out of 100. The scores are tallied by a panel of judges and the team with the most points wins.
</p>


</div>
