
#title{
    display: flex;
    flex-flow:column;
    align-items: left;
    margin: 10px 10%;
    margin-bottom: 0;
    justify-content: flex-start;
    font-weight: 700;
    background-color:#242927;
    color:#e69138;
    text-transform:uppercase;
    font-size:5vw;
}
#text{
    width: 80%;
    margin: 10px 10%;
    margin-top:0;
    display: flex;
    flex-flow:column;
    align-items: left;
    justify-content: flex-start;
    width: 80%;

}
 #text img{
     width: 100%;
     align-items:center;
 }

 img{
   margin-top:10px;
 }

h3{
  display: block;
  font-size: 1.17em;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  font-weight: bold;
}

p{
  display: block;
  -webkit-margin-before: 0;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  margin-bottom: 30px
}
