#navbar {
  width: 100vw;
}

#navlist li {
  display: inline;
  float: left;
  cursor: pointer;
  padding: 5px 0;
  height: 100%;
}

#navlist li button {
  padding: 0 10px;
  height: 100%;
}

#navlist {
  float: right;
  margin: 0;
  height: 100%;
}

.spacer {
  flex: 1 1 auto;
}

#spearlink {
  cursor: pointer;
}



#notFooter {
  padding-bottom: 60px;
}

footer {
  position: absolute;
  bottom: 0;
  height: 60px;
  width: 100vw;
  text-align: center;
  color: white;
}
.mat-menu-item{
    border: none;
    color: white;
}
