<div (window:resize)="onResize($event)"></div>
<div id="notFooter">
  <mat-toolbar *ngIf="isDesktop" color="background" id="navbar">

    <div (click)="shouldShowMain()" id="spearlink">
    </div>
    <span class="spacer"></span>
    <ul id="navlist">
      <li><button (click)="shouldShowAbout()" [ngClass]="{'currentTab': showAbout}" mat-button routerLink=".">Mission</button></li>
      <li><button (click)="shouldShowTeam()" [ngClass]="{'currentTab': showTeam}" mat-button routerLink=".">Team</button></li>
      <li><button (click)="shouldShowMR1()" [ngClass]="{'currentTab': showMR1}" mat-button routerLink=".">Competition</button></li>
      <li><button (click)="shouldShowSponsors()" [ngClass]="{'currentTab': showSponsors}" mat-button routerLink=".">Sponsors</button></li>
      <li><button (click)="shouldShowContact()" [ngClass]="{'currentTab': showContact}" mat-button routerLink=".">Outreach</button></li>
      <li><button (click)="shouldShowBlog()" [ngClass]="{'currentTab': showBlog}" mat-button routerLink=".">Blog</button></li>
    </ul>
  </mat-toolbar>

  <mat-toolbar *ngIf="isMobile" color="background" id="navbar">
    <div (click)="shouldShowMain()" id="spearlink"></div>
    <span class="spacer"><h1>SPEAR</h1></span>

    <mat-menu #menu="matMenu">
      <button (click)="shouldShowAbout()" [ngClass]="{'currentTab': showAbout}" mat-menu-item routerLink=".">Mission</button>
      <button (click)="shouldShowTeam()" mat-menu-item routerLink=".">Team</button>
      <button (click)="shouldShowMR1()" mat-menu-item routerLink=".">Competition</button>
      <button (click)="shouldShowSponsors()" mat-menu-item routerLink=".">Sponsors</button>
      <button (click)="shouldShowContact()" mat-menu-item routerLink=".">Outreach</button>
      <button (click)="shouldShowBlog()" mat-menu-item routerLink=".">Blog</button>
    </mat-menu>

    <button mat-icon-button [matMenuTriggerFor]="menu">
        <img src="../assets/ic_more_vert.svg"/>
      </button>

  </mat-toolbar>




  <main-page *ngIf="showMain"></main-page>
  <about-page *ngIf="showAbout"></about-page>
  <blog-page *ngIf="showBlog"></blog-page>
  <sponsors-page *ngIf="showSponsors"></sponsors-page>
  <team-page *ngIf="showTeam"></team-page>
  <mr-page *ngIf="showMR1"></mr-page>
  <contact-page *ngIf="showContact"></contact-page>

</div>
<footer color="primary">
  <p>
    Contact us: spearua@ualberta.ca
  </p>
  <p>
    Follow us: @spaceualberta
  </p>
  <p>
    Like us: facebook.com/SpaceUAlberta
  </p>
</footer>
