<div id="text">
  <h2>Our Team Structure</h2>


  <h2>Team Executives</h2>
  <div class="photo_grid">
    <div class="person_photo">
      <img src="../../../assets/team/MannySummer18.png" />
		</div>
		<div class="person_info">
      <p class="person_name"> Manmeet Brar </p>
			<p class="person_title"> Project Manager </p>
			<p> Program: Mechanical Engineering </p>
			<p class="person_bio"> "I joined SPEAR because I wanted to get involved with an awesome project I'm passionate about" </p>
    </div>
  </div>
	
	<div class="photo_grid">
    <div class="person_photo">
      <img src="../../../assets/team/AndreSummer18.png" />
		</div>
		<div class="person_info">
      <p class="person_name"> Andre Ulliac </p>
			<p class="person_title"> Mechanical Team Lead </p>
			<p> Program: Second Year Engineering </p>
			<p class="person_bio"> "I joined SPEAR because space is awesome and so are robots" </p>
    </div>
  </div>
  
	<div class="photo_grid">
    <div class="person_photo">
      <img src="../../../assets/team/NoelSummer18.png" />
		</div>
		<div class="person_info">
      <p class="person_name"> Noel Gore </p>
			<p class="person_title"> Science Team Lead </p>
			<p> Program: Geophysics </p>
			<p class="person_bio"> "I joined SPEAR because I’ve always been intrigued by the way space exploration pushes boundaries and I wanted the chance to do the same" </p>
    </div>
  </div>
  
	<div class="photo_grid">
    <div class="person_photo">
      <img src="../../../assets/team/JacobSummer18.png" />
		</div>
		<div class="person_info">
      <p class="person_name"> Jacob Reckhard </p>
			<p class="person_title"> Software Team Lead </p>
			<p> Program: Computer Software Engineering </p>
			<p class="person_bio"> "I joined SPEAR because [it] seemed like a fun challenge" </p>
    </div>
  </div>
  
  <div class="photo_grid">
    <div class="person_photo">
      <img src="../../../assets/team/DavidSummer18.png" />
		</div>
		<div class="person_info">
      <p class="person_name"> David Lenfesty </p>
			<p class="person_title"> Electrical Team Lead </p>
			<p> Program: Electrical Nanoengineering Coop </p>
			<p class="person_bio"> "I joined SPEAR because it offered a great opportunity to gain some experience with designing robotics" </p>
    </div>
  </div>
  
	<div class="photo_grid">
    <div class="person_photo">
      <img src="../../../assets/team/RobertSummer18.png" />
		</div>
		<div class="person_info">
      <p class="person_name"> Robert Williams </p>
			<p class="person_title"> Finance Team Lead </p>
			<p> Program: Business of Commerce Accounting </p>
			<p class="person_bio"> "I joined SPEAR because I [...] thought it would be interesting and the team sounded like it would be very welcoming" </p>
    </div>
  </div>
  
	<div class="photo_grid">
    <div class="person_photo">
      <img src="../../../assets/team/NavrasSummer18.png" />
		</div>
		<div class="person_info">
      <p class="person_name"> Navras Kamal </p>
			<p class="person_title"> Social Media Team Lead </p>
			<p> Program: Computer Engineering Nanoscale Design Coop </p>
			<p class="person_bio"> "I joined SPEAR because it was a unique opportunity to help start up a relatively new design project" </p>
    </div>
  </div>

  <h2>We support</h2>
  <div class="photo_grid">
    <div class="club_logo">
      <img height="200px" height="200px" src="../../../assets/team/diversity.png" />
      <a href="https://www.facebook.com/divengg">https://www.facebook.com/divengg</a>
    </div>
    <div class="club_logo">
      <img height="400px" height="200px" src="../../../assets/team/wise.png" />
      <a href="http://www.wisest.ualberta.ca/">http://www.wisest.ualberta.ca/</a>
    </div>
  </div>
</div>
