
<div id="text">
  <h2>Our Team Structure</h2>


  <h2>Design Team Executives</h2>
  <div class="photo_grid">
    <div class="person_photo">
      <img src="http://via.placeholder.com/100x100" />
      <p class="person_name"> Mackenzie Hart </p>
      <p class="person_title"> Project Manager </p>
    </div>

    <div class="person_photo">
      <img src="http://via.placeholder.com/100x100" />
      <p class="person_name"> Tarun Don </p>
      <p class="person_title"> Mechanical Team Lead </p>
    </div>

    <div class="person_photo">
      <img src="http://via.placeholder.com/100x100" />
      <p class="person_name"> Alyson Birce </p>
      <p class="person_title"> Science Team Lead </p>
    </div>

    <div class="person_photo">
      <img src="http://via.placeholder.com/100x100" />
      <p class="person_name"> Jordan Lane </p>
      <p class="person_title"> Computer Team Lead </p>
    </div>
    <div class="person_photo">
      <img src="http://via.placeholder.com/100x100" />
      <p class="person_name"> Jake Carlstad </p>
      <p class="person_title"> Electrical Team Lead </p>
    </div>

    <div class="person_photo">
      <img src="http://via.placeholder.com/100x100" />
      <p class="person_name"> Manmeet Brar </p>
      <p class="person_title"> Mechanical Drive Team Lead </p>
    </div>

    <div class="person_photo">
      <img src="http://via.placeholder.com/100x100" />
      <p class="person_name"> Katelyn Ball </p>
      <p class="person_title"> Mechanical Arm Team Lead </p>
    </div>

    <div class="person_photo">
      <img src="http://via.placeholder.com/100x100" />
      <p class="person_name"> Tobin Eberle </p>
      <p class="person_title"> Electrical Drive Lead </p>
    </div>

  </div>

  <h2>Administration Team Executives</h2>
  <div class="photo_grid">
    <div class="person_photo">
      <img src="http://via.placeholder.com/100x100" />
      <p class="person_name"> Breanna Wallace </p>
      <p class="person_title"> Finance Lead </p>
    </div>

    <div class="person_photo">
      <img src="http://via.placeholder.com/100x100" />
      <p class="person_name"> TBA </p>
      <p class="person_title"> Social Media Lead </p>
    </div>
  </div>

  <img class="strucSVG" src="../../../assets/team/ts.svg"/>


  <h2>We support</h2>
  <div class="photo_grid">
    <img src="http://via.placeholder.com/100x100" />
    <img src="http://via.placeholder.com/100x100" />
  </div>
</div>
