#text{
    margin: 10px 10%;

}
#title{
    text-align: center;
    width: 100%;
}

#rover_comp {
  width: 100vw;
  height: calc(100vw * 10 / 16);
}



.photo_grid{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
.person_photo{
    margin: 5px;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
}
.person_photo p{
    margin: 0;
}
