#text{
    margin: 10px 10%;

}
#title{
    text-align: center;
    width: 100%;
}

#teamphoto1 {
  width: 700px;
  height: 400px;
  background-image: url('../../../assets/team/ts.svg');
  background-size: cover;
}
#teamphoto2 {
    width: 700px;
    height: 430px;
    background-image: url('../../../assets/team/ts2.svg');
    background-size: cover;
}
