<h1 id="title">Our Mission</h1>
<div id="text">
  <p>
    Our student project group, Space Exploration Alberta Robotics, aims to promote space exploration technology and robotics through educational outreach and participating in design competitions. SPEAR is motivated to be a positive force in our community.
    Beyond our educational outreach we also support other groups at the university with positive goals. We are proud to help promote groups such as, Women in Engineering, Science, and Technology and Diversity in Engineering.
  </p>
</div>
