<h1 id="title">Our Mission</h1>
<div id="text">
  <p>Space Exploration Alberta Robotics</p>
  <p>We are the Space Exploration And Robotics (SPEAR) student design team at the University of Alberta for undergraduate and graduate students who have an interest in space exploration and robotics. This is our first year in operation and we are excited for
    all the new talents that have joined us that’ll bring new and innovative ideas to the rover community. Our club requires a union of skills from students of all disciplines of engineering; anyone who is also interested in project management, finance,
    outreach, or anyone who is curious about these subjects is welcome with open arms to our group.</p>
  <p>

    The team designs a rover destined for Mars and is overlooked by experienced professionals of this field such as personnel from NASA and Sample Company. Every year, a team from 20 different universities from across the world come together for a four day
    competition in Hanksvile, Utah to test the capabilities of their rover. The goal is to create a remote-controlled mechanism that can travel easily across Mars-like terrain. During terrain-testing, another main component of the rover is the capabilities
    of the arm to do a variety of tests like gather soil samples and picking up objects. These two main components of the competition bring a harmony to almost all disciplines of engineering, ranging from computers, for the programming; mechanical and
    civil, for the arm and body structure; and electrical, for the wiring.</p>
  <p>

    With growing public interest in the planet of Mars and even talk of mass relocation, many scientists have focused their research on this fascinating planet. And with the research comes the need for the proper instruments. We design our rover to have all
    the capabilities to conduct reconnaissance on Mars’s harsh terrain. Depending on the results of the competition, our designs may make their way into the hardware for actual NASA scientists’ research of Mars. To make that happen, our team of talented
    students extrapolate on their knowledge from classes and work experience to create practical and realistic designs for the rover. Our team gets real-world experience that puts them ahead of their years in both problem solving and critical thinking.
    We support each other to reach higher pedestals and the willingness to experiment and learn is key. Check our blog for updates on our project and hope your day is out of this world!</p>
</div>
