.paragraph {
  margin: 2em 10vw;
}
#center{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:flex-start;
}

#coverphoto {
  background-image:  url('../../../assets/coverphoto.jpg');
}
#roverphoto {
  background-image: url('../../../assets/rover_comp.jpg');
}
.mainPagePhoto{
    width: 100vw;
    height: calc(100vw * 9 / 16);
    max-width: 1000px;
    max-height: 570px;

    background-size: cover;
}

#title {
  margin: 0;
  color: white;
  text-align: center;
  font-size: 200%;
  padding-top: 40px;
  padding-bottom:40px;
  text-shadow: 0 2px 0 black;
}

#titleFitter{
    width: 100%;
    max-height: 25vh;
}
