.blog-summary{
  background-color: var(--spear-bg-light);
  margin: 30px;
  padding: 30px;
}
.blog-summary-title{
  font-size: 2em;
}
.blog-summary-author{
  font-size: 1em;
}
.blog-summary-time{
  font-size: 1em;
}
