.question-answer {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left:20vw;
    padding-right:20vw;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 10vw;
}
.question {
    font-size: 3vw;
}
.answer {
    font-size: 1.5vw;
}