.spear-home-main-image {
  width: 100vw;
}

.img-container {
  position: relative;
  text-align: center;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.centered {
  width: 90%;
  font-weight: bold;
  font-size: 3em;
}

.imagebar {
  position: absolute;
  top: 12%;
  width: 100%;
  background-color: #00000088;
  padding: 10px;
}
.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.mission {
  width: 50vw;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}
.mission div {
  font-size: 1.5em;
}
.mission h2 {
  font-size: 3em;
}
