.spear-home-main-image{
    width: 100vw;
}

.img-container{
    position: relative;
    text-align: center;
    color: white;
}

.centered {
    position: absolute;
    top: 12%;
    width: 100%;
    background-color: #00000088;
    font-size: 3em;
    padding: 10px;
    font-weight: bold;
}
.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.mission {
    width: 50vw;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 5%;
    padding-top: 2%;
}
.mission div {
    font-size: 1.5em;
}
.mission h2 {
    font-size: 3em;
}
a.Join-Button {
    font-family: 'Orbitron', sans-serif;
    font-size: 2em;
    font-weight: bold;
    background-color: #9F412C38;
    border-radius: 25px;
    padding: 0.5em 0.5em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-top: 2em;
    margin-bottom: 0.83em;
    margin-left: inherit;
    margin-right: inherit;
    
}
a:hover, a:active.Join-Button{
    background-color: #9F412C;
}
.case{
    width: 60%;
}