.reverse{
    display: flex;
    flex-direction: row-reverse!important;
}
.sponsor-intro{
    width: 100%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.sponsor-intro p{
    width: 50%;
    max-width: 50vw;
    font-size: 1.75em;
}
.sponsor-image-holder{
    padding: 30px;
    width: 50vw;
    height: 170px;
    background-color: white;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}

.sponsor-image-holder img{
    /* Maintain aspect ratio */
    max-height: 100%;
    max-width: 100%;
}

.sponsor {
    margin-bottom: 50px;
}

.sponsor-text-holder{
    width: 50vw;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.sponsor-text-holder p{
    width: 100%;
    max-width: 25vw;
    margin: 10px;
}
.reverse .sponsor-image-holder{
    flex-direction: row;
}
.reverse .sponsor-text-holder{
    text-align: right;
    justify-content: flex-end;
}
.reverse .sponsor-text-holder p{
    float: right;
}
