<h1 id="title">Sponsors</h1>
<div id="text">

  <p>Without the support of our sponsors, our mission would not be possible. Our sponsors have allowed our team to incredible things in the in the past year and we hope to do more incredible things in the future. So, thank you for your support.</p>

  <div class="img_wrapper"><img src="../../assets/sponsoros/shell.png"></div>
  <p>
    The Shell Canada Enhanced Learning Fund (SELF) provides funding for University of Alberta students to participate in experiential learning opportunities that have a focus on sustainable energy, the environment and the economy.
    <a href="https://www.shell.ca/">https://www.shell.ca/</a>
  </p>

  <div class="img_wrapper"><img src="../../assets/sponsoros/kbwest.png"></div>
  <p>King &amp; Bay West is a merchant bank and management services company that takes a holistic approach to working with client companies; making direct equity investments and emphasizing the direct link between the end product, company management, the
    Board of Directors and, ultimately, the shareholder. <a href="http://www.kingandbay.com/">http://www.kingandbay.com/</a>
  </p>


  <div class="img_wrapper"><img src="../../assets/sponsoros/jetlines.jpg"></div>
  <p>Canada Jetlines Ltd. is set to become Canada’s first ultra-low fare airline. Jetlines was created to serve the millions of Canadians living in unserved or underserved markets across the country. Our goal is to provide a much-needed alternative to the
    unreasonably high cost of air travel. <a href="https://jetlines.ca/">https://jetlines.ca/</a>
  </p>

  <div class="img_wrapper"><img src="../../assets/sponsoros/uofa_alum.png"></div>
  <p>Formed in 1915, the University of Alberta Alumni Association is a volunteer, non-profit organization of more than 275,000 members. Upon graduation, and without fee, all graduates of the U of A automatically become lifetime members of the Alumni Association.
  <a href="https://www.ualberta.ca/alumni">https://www.ualberta.ca/alumni</a></p>

  <div class="img_wrapper"><img src="../../assets/sponsoros/uofa_su.png"></div>
  <p>The SU is a student-centric organization that is run by students for students, and prides itself on being a proactive organization that is sensitive to the needs of individuals and the student body as a whole. We are committed to ensuring that your
    education is affordable and of the highest quality, and that your experience is a very positive one. <a href="https://www.su.ualberta.ca/">https://www.su.ualberta.ca/</a>
  </p>

  <div class="img_wrapper"><img src="../../assets/sponsoros/solidworks.png"></div>
  <p>SOLIDWORKS solutions cover all aspects of your product development process with a seamless, integrated workflow—design, verification, sustainable design, communication and data management. Designers and engineers can span multiple disciplines with ease,
    shortening the design cycle, increasing productivity and delivering innovative products to market faster. <a href="http://www.solidworks.com/">http://www.solidworks.com/</a>
  </p>

  <div class="img_wrapper"><img src="../../assets/sponsoros/uofa.png"></div>
  <p>UAlberta is a Top 5 Canadian university and one of the Top 100 in the world, home to more than 500 graduate programs, 200 undergraduate programs and 450 active student groups. <a href="https://www.ualberta.ca/">https://www.ualberta.ca/</a>
  </p>

  <div class="img_wrapper"><img src="../../assets/sponsoros/amp.jpg"></div>
  <p>
    Looking for a metal processing partner who can consistently deliver high quality, quick turnaround and competitively priced laser cutting services? Try AMP once…and let us introduce you to the high standard you can expect with every order. Serving Alberta,
    Saskatchewan and the Northern U.S.A. <a href="http://ampmetal.com/">http://ampmetal.com/</a>
  </p>


</div>
