#title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}

#text {
    width: 100vw;
}

#text p {
    width: 80%;
    margin: 10px 10%;
}

.img_wrapper {
    margin: 40px 0;
    display: flex;
    flex-direction: column;
    width: 100vw;
    align-items: center;
    justify-content: center;
    height: 100px;
    background-color: white;
    padding: 10px 0;
}

.img_wrapper img {
    max-height: 100%;
}

img {
    max-width: 80vw;
}
