html{
    --spear-bg-color: #242927;
    --spear-bg-light: #384d61;
    --spear-green: #009933;
    --spear-green-dark: #00993338;
    background-color: var(--spear-bg-color);
    color: white;

    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
a{
    text-decoration: None;
}

.hor{
    display: flex;
    flex-direction: row;
}
.ver{
    display: flex;
    flex-direction: column;
}
.spread{
    justify-content: space-between;
    align-items: center;
}
.drift{
    justify-content: space-evenly;
    align-items: center;
}
.cent{
    justify-content: space-around;
    align-items: center;
}
.wide{
    width: 100%;
}
.tall{
    height: 100%;
}
.marg{
    margin: 10%;
}
.marg-x{
    margin: 0 10%;
}
.marg-y{
    margin: 10% 0;
}
.pad{
    padding: 10%;
}
.pad-x{
    padding: 0 10%;
}
.pad-y{
    padding: 10% 0;
}
.card{
    border-radius: 3px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}
.card:hover{
    box-shadow: 0 16px 32px 0 rgba(0,0,0,0.2);
}
ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
/* Styling for Header Begin */
.spear-mountains{
    width: 100%;
    height: 100%;
}
.spear-mountains-wrapper {
    width: 70vw;
    min-height: 15vw;
}
.spear-nav-list li{
    display: flex;
    justify-content: center;
}
.spear-nav-list li:hover{
    background-color: #404040;
}
.spear-nav-list {
    width: 100%;
}
.spear-nav-list li{
    flex-grow: 1;
    padding: 1em;
    height: 100%;
    color: white;
}
.spear-nav-list a {
    text-decoration: none;
}
.spear-logo {
    border-radius: 100%;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    height: 10vw;
    width: 10vw;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border: 0;
    margin: 2.5vw;
    margin-left: 12.5vw;
}
/* Styling for Header End */

/* Styling for Footer Begin */
.spear-footer {
    background-color: var(--spear-green-dark);
}

.spear-footer a{
    color: white;
}
/* Styling for Footer End */
